.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 25px;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  z-index: 200;
  overflow: auto;

  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &__content {
    width: min(634px, 100%);
    border-radius: 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 12px 40px;
    position: relative;

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      display: grid;
      place-items: center;
      border: 2px solid #000;
      color: #000;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    &-title {
      color: rgb(51, 51, 51);
      font-weight: 500;
      margin-bottom: 32px;
      font-size: clamp(28px, 5vw, 40px);
    }

    &-txt {
      font-size: clamp(18px, 5vw, 24px);
      color: #5f6368;
      margin-bottom: clamp(40px, 5vw, 60px);
      display: flex;
      flex-direction: column;
      font-weight: 300;
    }

    &-input {
      margin-bottom: clamp(30px, 5vw, 45px);
      gap: 24px !important;
      flex-wrap: wrap;
      justify-content: center;

      input {
        background: #eee;
        color: #000;
        font-size: clamp(16px, 5vw, 40px);
        border: none;
        width: 60px;
        height: 82px;
        border-radius: 20px;

        @media (width <= 576px) {
          width: 40px;
          height: 48px;
          border-radius: 6px;
        }
      }
    }

    &-timeout {
      color: #5f6368;
      margin-bottom: clamp(30px, 5vw, 45px);
      cursor: not-allowed;

      &.active {
        cursor: pointer;
        color: #000;
      }
    }

    &-change {
      color: red;
      font-size: 18px;
      font-weight: 500;
    }

    &-code {
      color: #5f6368;
      font-size: 20px;
    }
  }

  &__success {
    width: min(430px, 100%);
    display: grid;
    gap: 40px;

    // &-qr {
    //   @media (width <= 768px) {
    //     display: none;
    //   }
    // }

    &-title {
        color: #000;
        font-size: clamp(24px, 5vw, 28px);
        background: #fff;
        border-radius: 15px;
        text-align: center;
        padding: 12px;
        text-wrap: balance;
        font-weight: 500;
    }

    &-link {
        background: #3CE46B;
        padding: 12px 0;
        text-align: center;
        color: #fff;
        font-size: clamp(18px, 5vw, 24px);
        font-weight: 500;
        border-radius: 15px;
    }
  }
}
