.modal {
  position: fixed;
  z-index: 50;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 130px 24px 0 0;
  overflow: auto;
  transition: 0.4s;

  @media (width <= 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &__content {
    display: flex;
    justify-content: flex-end;

    @media (width <= 480px) {
      justify-content: center;
      width: 100%;
    }
  }

  &__form {
    display: grid;
    gap: 22px;
    width: min(300px, 100%);

    &-item {
      background: #fff;
      border-radius: 15px;
      font-weight: 500;
      font-size: clamp(18px, 5vw, 24px);
      padding: 10px 22px 22px;
      display: grid;
      gap: 12px;
      color: #000;

      input {
        font-size: 18px;
        padding: 12px;
        border-radius: 15px;
        background: #eee;
        color: #5f6368;
        font-weight: 500;
      }

      span {
        display: flex;
      }
    }

    &-span {
      background: #eee;
      color: #5f6368;
      font-weight: 300;
      border-radius: 15px;
      padding: 12px;
    }

    &-btn {
      width: 100%;
      color: #fff;
      text-align: center;
      background: #3ce46b;
      font-size: clamp(18px, 5vw, 24px);
      border-radius: 15px;
      font-weight: 500;
      padding: 12px 0;
      cursor: pointer;

      &._del {
        background: red;
      }

      &._pledge {
        background: goldenrod;
      }

      &:disabled {
        background: #eee;
        color: #000;
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    &-info {
      font-size: 18px;
      line-height: 150%;
      color: red;
    }

    &-customer {
      font-size: 18px;
      line-height: 150%;
      text-transform: capitalize;
    }
  }
}

.pledge_comment_value {
  margin-bottom: 16px;
}

.pledge_btns {
  display: flex;
  gap: 16px;
}