$ProductSans: ("Medium", 500), ("Regular", 400), ("Light", 300);

@each $name, $weight in $ProductSans {
  @font-face {
    src: url(@/assets/fonts/ProductSans/ProductSans-#{$name}.woff2)
      format("woff2");
    font-family: "ProductSans";
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}
